body{
  background-color: #afaaae;
  box-sizing: border-box;
}

.parallax {
    /* The image used */
  background-image: url('../assets/img/hom3.jpg');
  filter: blur(2px);
  width: 1200px;
  height: 800px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar-color{
  background-color: #75596f;
}
 .navbar-color a {
   color: #d2c9da;
 }
.titulo_home{
  padding: 10%;
  margin-top: 0px;
  z-index: 9999;
}
