body{
  background-color: #afaaae;
  box-sizing: border-box;
  font-family: 'Lobster Two', cursive;
}

.parallax {
    /* The image used */
  background-image: url('../assets/img/hom3.png');
  width: 100%;
  height: 800px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.navbar-color{
  background-color: #75596f;
}
 .navbar-color a {
   color: #d2c9da;
 }

 .menu{
   background-color: #d2c9da;
 }
 .menu span{
   background-color: #75596f;
 }
.presentacion{
  /*background-color:hsla(290,60%,70%,0.3);*/
  background-color: rgba(138, 66, 110, 0.39);
  padding: 10%;
  margin: 10%;
  color: #d2c9da;
}


.titulo_home{
  font-size: 300%;
  font-weight: bold;
}
.subtitulo_seccion{
  margin: 0;
  padding: 3%;
  padding-bottom: 3%;
}
.acerca_mi{
  background-color: #a3869a;
  margin: 0;
  color: #d2c9da;
  font-size: 150%;
}

.acerca_mi img{
  margin-bottom: 5%;
}
footer{
  background-color: #6c6c6c;
}
.lista_footer{
  list-style: none;

}

.lista_footer li{
  display: inline-block;
}
.progress {
  height: 35px;

}
.progress .skill {
  font: normal 12px "Open Sans Web";
  line-height: 35px;
  padding: 0;
  margin: 0 0 0 20px;
  text-transform: uppercase;
}
.progress .skill .val {
  float: right;
  font-style: normal;
  margin: 0 20px 0 0;
}

.progress-bar {
  text-align: left;
  transition-duration: 3s;
}

.imagen_habilidades{
  width: 80%;
}
